.articles__list 
    margin-top: 60px


.article__detail 
    margin-top: 60px


    & .box 
        padding: 30px




    & img 
        margin-bottom: 40px


    & ul 
        list-style: none
        font-weight: 300
        font-size: 18px
        line-height: 28px
        margin: 15px 0
        padding: 0

        & li 
            margin: 8px 0
            position: relative
            padding-left: 30px


            & ul 
                margin-left: 5px


            &:before 
                content: ""
                width: 8px
                height: 8px
                background: #54afad
                border-radius: 50%
                display: block
                position: absolute
                top: 10px
                left: 5px


    & ol 
        list-style: none
        font-weight: 300
        font-size: 18px
        line-height: 28px
        margin: 15px 0
        padding: 0
        counter-reset: number-list


        & li 
            margin: 8px 0
            position: relative
            padding-left: 30px
            counter-increment: number-list
            
            &:before 
                content: counter(number-list)
                width: 20px
                height: 20px
                border: 1px solid #54afad
                color: #54afad
                border-radius: 50%
                display: block
                position: absolute
                top: 4px
                left: 0
                text-align: center
                line-height: 18px
                font-size: 13px
                font-weight: 600


        & ul 
            margin-left: 5px




.article__title 
    font-size: 50px
    font-weight: 300
    margin: 0 auto 20px

.article__tags 
    margin-top: 50px
    padding-top: 20px
    border-top: 1px solid #e7e7e7

    & a 
        margin: 0 10px
        font-size: 14px
        color: #b7b7b7


        &:hover 
            color: #171717


.article__date 
    font-size: 16px
    font-weight: 300
    display: block
    margin-bottom: 20px


.article__intro 
    position: relative


    & .article__date 
        position: absolute
        bottom: 15px
        right: 15px
        margin: 0
        color: #d7d7d7


.pagination 
    padding-top: 30px

    &:after 
        clear: both
        content: ""
        display: block


.pagination__next 
    float: right


.pagination__prev 
    float: left
