.box 
    padding: 20px
    height: 100%

    & img 
        display: block

    &__title 
        margin: 20px 0
        text-transform: uppercase
        font-size: 24px
        font-weight: 400

        &:first-child 
            margin-top: 0


    &__subtitle 
        margin: 15px 0
        font-size: 20px
        font-weight: 300




    &--white 
        background: #fff


    &__experience 
        display: flex
        display: -webkit-flex
        margin: 20px 0

        &__name 
            flex: 1
            -webkit-flex: 1
            align-self: center


        &__name h3 
            margin: auto auto 15px
            font-size: 20px
            font-weight: 300


        &__name span 
            color: #999
            font-weight: 300


        &__date 
            width: 170px
            height: 170px
            border: 8px solid #f4f4f4
            border-radius: 50%
            display: flex
            display: -webkit-flex
            justify-content: center
            align-items: center
            text-align: center
            font-size: 24px
            font-weight: 300
            line-height: 24px
            text-transform: uppercase
            color: #777
            margin: -40px 30px
            background: #bde4dc

        &__desc 
            flex: 2
            -webkit-flex: 2
            font-size: 18px
            font-weight: 300
            line-height: 26px
            align-self: center




        &__education 
            margin-top: 40px

            &__date 
                margin: -60px auto auto
                height: 100px
                width: 100px
                border: 5px solid #f4f4f4
                background: #61b564
                border-radius: 50%
                display: flex
                display: -webkit-flex
                justify-content: center
                align-items: center
                text-align: center
                font-size: 18px
                line-height: 18px
                font-weight: 300
                color: #fff

            & .box__title
                text-align: cente
                margin: 10px 0


            & .box__subtitle 
                text-align: center
                margin: 0 0 20px
                text-transform: uppercase


            & hr 
                border: none
                border-bottom: 1px solid #d7d7d7
                margin: 20px 0


            & p 
            padding: 0 20px
    
.page__footer 
    text-align: center
    margin: 60px 0 20px
    color: #b7b7b7
