.button
    display: inline-block
    text-align: center
    padding: 10px 25px
    transition: color .2s linear, background .2s linear
    border: none
    cursor: pointer

    &--cta
        padding: 20px 60px
        text-transform: uppercase
        font-size: 20px
        font-weight: 600

    &--primary
        background: #6fcb72
        color: #fff

        &:hover
            background: #61b564
            color: #fff

    &--secondary
        background: #e5e5e5
        text-transform: uppercase
        font-weight: 300
        font-size: 14px
        color: #333
        letter-spacing: 2px

        &:hover
            background: #d7d7d7
            color: #333

    &--full
        display: block
        width: 100%