.page__header__nav 
    min-height: 60px
    background: #fff
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4)
    font-size: 20px
    line-height: 30px
    text-transform: uppercase
    font-weight: 300

    & ul 
        list-style: none
        margin: 0 -20px
        padding: 15px 0 0
        overflow: hidden
        text-align: center


        & li 
            margin: 0 20px 15px
            display: inline-block


            &.active 
                font-weight: 600
                letter-spacing: 1px


.page__main__title 
    text-align: center
    font-size: 50px
    font-weight: 300
    text-transform: uppercase
    margin: 70px 0 30px


.page-container 
    width: 100%
    max-width: 1200px
    margin: auto
    
.page__header__welcome 
    width: 100%
    height: 800px
    background: url('https://unsplash.it/1920/800?image=0') no-repeat center center
    background-size: cover
    position: relative
    
    &:after 
        position: absolute
        width: 100%
        height: 100%
        background: rgba(98, 141, 140, 0.85)
        content: ""
        display: block
        top: 0
        left: 0

    & .page-container 
        position: relative
        z-index: 2
        padding-top: 200px
        text-align: center
        color: #fff
    
    &__title 
        font-size: 80px
        font-weight: 300
        text-transform: uppercase
        margin: 0 0 10px


    &__subtitle 
        font-size: 50px
        font-weight: 300
        text-transform: uppercase
        margin-bottom: 40px


    &__social 
        padding-top: 50px
        border-top: 1px solid #fff
        width: 80%
        min-width: 700px
        margin: auto

        & a 
            width: 40px
            height: 40px
            border: 1px solid #fff
            line-height: 38px
            font-size: 16px
            color: #fff
            display: inline-block
            text-align: center
            border-radius: 50%
            margin: 0 10px
            transition: background .2s linear, color .2s linear

            &:hover 
                background: #fff
                color: rgb(98, 141, 140)


    .page__header--small & 
        height: 150px


        & .page-container 
            padding-top: 30px

        & .page__header__welcome__title 
            font-size: 40px
            margin-bottom: 0

        & .page__header__welcome__subtitle 
            font-size: 24px


        & .page__header__welcome__social 
            display: none
