*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body 
    font-family: 'Open Sans', 'Arial', 'Sans-serif'
    background: #f4f4f4


img
    max-width: 100%


a 
    color: #333
    text-decoration: none
    transition: color .2s linear

    &:hover 
        color: #666


.link 
    color: #6fcb72


    &:hover 
        color: #61b564


.link--read-more 
    color: #ef631e
    text-transform: uppercase
    font-size: 14px


    &:hover 
        color: #d2591c


p
    font-size: 18px
    font-weight: 300
    line-height: 26px
    margin: 20px 0


.typography__highlight 
    color: #ef631e


.typography__leading 
    color: #54afad
    font-size: 24px
    font-weight: 400
    line-height: 30px


address 
    font-size: 18px
    line-height: 26px
    font-weight: 300
    font-style: normal
    margin-bottom: 30px



.section 
    clear: both
    padding: 0px
    margin: 0px

@include breakpoint(767px, 0)
    .col
        margin: 1% 0 1% 0%
    .col-width
        width: 100%
    @for $i from 1 through 12
        .col-#{$i}
            @extend .col-width

.col 
    display: block
    float: left
    margin: 0
    padding: 10px

    &:first-child 
        margin-left: 0



@for $i from 12 through 1
    .col-#{$i}
        width: (100% / 12) * $i
    
    
.group
    &:before, &:after
        content: ""
        display: table
    
    &:after
        clear: both

.flex
    display: -webkit-flex
    display: flex
    flex-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap

.form-row
    margin-top: 20px

.form-label
    font-size: 15px
    font-weight: 300
    text-transform: uppercase
    display: block
    margin-bottom: 5px

.form-input
    width: 100%
    height: 50px
    padding: 0 10px
    background: #f9f9f9
    border: 1px solid #d7d7d7
    outline: none
    -webkit-appearance: none
    transition: background .2s linear, box-shadow .2s linear

textarea.form-input
    height: 150px
    padding: 10px
    resize: none

.form-input:focus
    background: #fff
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3)

.form-actions
    text-align: right
    margin-top: 40px

.contact__map
    width: 100%
    height: 600px
    
