.skill
    margin-top: 20px

    & :first-child 
        margin-top: 0


.skill__label 
    display: block
    margin-bottom: 5px
    text-transform: uppercase


.skill__chart 
    height: 30px
    background: #628d8c
    display: block
    position: relative
    color: #fff

    & :after 
        content: attr(data-percentage)
        line-height: 30px
        margin-left: 5px
