.skill {
  margin-top: 20px; }
  .skill :first-child {
    margin-top: 0; }

.skill__label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase; }

.skill__chart {
  height: 30px;
  background: #628d8c;
  display: block;
  position: relative;
  color: #fff; }
  .skill__chart :after {
    content: attr(data-percentage);
    line-height: 30px;
    margin-left: 5px; }

.page__header__nav {
  min-height: 60px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 300; }
  .page__header__nav ul {
    list-style: none;
    margin: 0 -20px;
    padding: 15px 0 0;
    overflow: hidden;
    text-align: center; }
    .page__header__nav ul li {
      margin: 0 20px 15px;
      display: inline-block; }
      .page__header__nav ul li.active {
        font-weight: 600;
        letter-spacing: 1px; }

.page__main__title {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 70px 0 30px; }

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.page__header__welcome {
  width: 100%;
  height: 800px;
  background: url("https://unsplash.it/1920/800?image=0") no-repeat center center;
  background-size: cover;
  position: relative; }
  .page__header__welcome:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(98, 141, 140, 0.85);
    content: "";
    display: block;
    top: 0;
    left: 0; }
  .page__header__welcome .page-container {
    position: relative;
    z-index: 2;
    padding-top: 200px;
    text-align: center;
    color: #fff; }
  .page__header__welcome__title {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 10px; }
  .page__header__welcome__subtitle {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .page__header__welcome__social {
    padding-top: 50px;
    border-top: 1px solid #fff;
    width: 80%;
    min-width: 700px;
    margin: auto; }
    .page__header__welcome__social a {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      line-height: 38px;
      font-size: 16px;
      color: #fff;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 10px;
      transition: background 0.2s linear, color 0.2s linear; }
      .page__header__welcome__social a:hover {
        background: #fff;
        color: #628d8c; }
  .page__header--small .page__header__welcome {
    height: 150px; }
    .page__header--small .page__header__welcome .page-container {
      padding-top: 30px; }
    .page__header--small .page__header__welcome .page__header__welcome__title {
      font-size: 40px;
      margin-bottom: 0; }
    .page__header--small .page__header__welcome .page__header__welcome__subtitle {
      font-size: 24px; }
    .page__header--small .page__header__welcome .page__header__welcome__social {
      display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", "Arial", "Sans-serif";
  background: #f4f4f4; }

img {
  max-width: 100%; }

a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s linear; }
  a:hover {
    color: #666; }

.link {
  color: #6fcb72; }
  .link:hover {
    color: #61b564; }

.link--read-more {
  color: #ef631e;
  text-transform: uppercase;
  font-size: 14px; }
  .link--read-more:hover {
    color: #d2591c; }

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 20px 0; }

.typography__highlight {
  color: #ef631e; }

.typography__leading {
  color: #54afad;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; }

address {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 30px; }

.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

@media only screen and (max-width: 767px) {
  .col {
    margin: 1% 0 1% 0%; }

  .col-width, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%; } }
.col {
  display: block;
  float: left;
  margin: 0;
  padding: 10px; }
  .col:first-child {
    margin-left: 0; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

.group:before, .group:after {
  content: "";
  display: table; }
.group:after {
  clear: both; }

.flex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; }

.form-row {
  margin-top: 20px; }

.form-label {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px; }

.form-input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background: #f9f9f9;
  border: 1px solid #d7d7d7;
  outline: none;
  -webkit-appearance: none;
  transition: background 0.2s linear, box-shadow 0.2s linear; }

textarea.form-input {
  height: 150px;
  padding: 10px;
  resize: none; }

.form-input:focus {
  background: #fff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

.form-actions {
  text-align: right;
  margin-top: 40px; }

.contact__map {
  width: 100%;
  height: 600px; }

.box {
  padding: 20px;
  height: 100%; }
  .box img {
    display: block; }
  .box__title {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400; }
    .box__title:first-child {
      margin-top: 0; }
  .box__subtitle {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300; }
  .box--white {
    background: #fff; }
  .box__experience {
    display: flex;
    display: -webkit-flex;
    margin: 20px 0; }
    .box__experience__name {
      flex: 1;
      -webkit-flex: 1;
      align-self: center; }
    .box__experience__name h3 {
      margin: auto auto 15px;
      font-size: 20px;
      font-weight: 300; }
    .box__experience__name span {
      color: #999;
      font-weight: 300; }
    .box__experience__date {
      width: 170px;
      height: 170px;
      border: 8px solid #f4f4f4;
      border-radius: 50%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      color: #777;
      margin: -40px 30px;
      background: #bde4dc; }
    .box__experience__desc {
      flex: 2;
      -webkit-flex: 2;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      align-self: center; }
    .box__experience__education {
      margin-top: 40px;
      padding: 0 20px; }
      .box__experience__education__date {
        margin: -60px auto auto;
        height: 100px;
        width: 100px;
        border: 5px solid #f4f4f4;
        background: #61b564;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
        color: #fff; }
      .box__experience__education .box__title {
        text-align: cente;
        margin: 10px 0; }
      .box__experience__education .box__subtitle {
        text-align: center;
        margin: 0 0 20px;
        text-transform: uppercase; }
      .box__experience__education hr {
        border: none;
        border-bottom: 1px solid #d7d7d7;
        margin: 20px 0; }

.page__footer {
  text-align: center;
  margin: 60px 0 20px;
  color: #b7b7b7; }

.button {
  display: inline-block;
  text-align: center;
  padding: 10px 25px;
  transition: color 0.2s linear, background 0.2s linear;
  border: none;
  cursor: pointer; }
  .button--cta {
    padding: 20px 60px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600; }
  .button--primary {
    background: #6fcb72;
    color: #fff; }
    .button--primary:hover {
      background: #61b564;
      color: #fff; }
  .button--secondary {
    background: #e5e5e5;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    letter-spacing: 2px; }
    .button--secondary:hover {
      background: #d7d7d7;
      color: #333; }
  .button--full {
    display: block;
    width: 100%; }

.articles__list {
  margin-top: 60px; }

.article__detail {
  margin-top: 60px; }
  .article__detail .box {
    padding: 30px; }
  .article__detail img {
    margin-bottom: 40px; }
  .article__detail ul {
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
    padding: 0; }
    .article__detail ul li {
      margin: 8px 0;
      position: relative;
      padding-left: 30px; }
      .article__detail ul li ul {
        margin-left: 5px; }
      .article__detail ul li:before {
        content: "";
        width: 8px;
        height: 8px;
        background: #54afad;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 10px;
        left: 5px; }
  .article__detail ol {
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
    padding: 0;
    counter-reset: number-list; }
    .article__detail ol li {
      margin: 8px 0;
      position: relative;
      padding-left: 30px;
      counter-increment: number-list; }
      .article__detail ol li:before {
        content: counter(number-list);
        width: 20px;
        height: 20px;
        border: 1px solid #54afad;
        color: #54afad;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        text-align: center;
        line-height: 18px;
        font-size: 13px;
        font-weight: 600; }
    .article__detail ol ul {
      margin-left: 5px; }

.article__title {
  font-size: 50px;
  font-weight: 300;
  margin: 0 auto 20px; }

.article__tags {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #e7e7e7; }
  .article__tags a {
    margin: 0 10px;
    font-size: 14px;
    color: #b7b7b7; }
    .article__tags a:hover {
      color: #171717; }

.article__date {
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px; }

.article__intro {
  position: relative; }
  .article__intro .article__date {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
    color: #d7d7d7; }

.pagination {
  padding-top: 30px; }
  .pagination:after {
    clear: both;
    content: "";
    display: block; }

.pagination__next {
  float: right; }

.pagination__prev {
  float: left; }

/*# sourceMappingURL=styles.css.map */
