





.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}



.form-row {
    margin-top: 20px;
}

.form-label {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: #f9f9f9;
    border: 1px solid #d7d7d7;
    outline: none;
    -webkit-appearance: none;
    transition: background .2s linear, box-shadow .2s linear;
}

textarea.form-input {
    height: 150px;
    padding: 10px;
    resize: none;
}

.form-input:focus {
    background: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3)
}

.form-actions {
    text-align: right;
    margin-top: 40px;
}

.contact__map {
    width: 100%;
    height: 600px;
}




